@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    margin: 0;
    background-color: #f8f9fa;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/background.jpg);
    background-size: cover;
}

.container {
    width: 700px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.card {
    width: 230px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card:nth-child(1) {
    background-image: url(./images/gryffindor.jpg);
}

.card:nth-child(2) {
    background-image: url(./images/slytherin.jpg);
}

.card:nth-child(3) {
    background-image: url(./images/ravenclaw.jpg);
}

.card:nth-child(4) {
    background-image: url(./images/hufflepuff.jpg);
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.question {
    margin: 0;
    font-size: 18px;
    text-shadow: 1px 1px 2px gray;
}

.answer {
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    transition: 1s ease all;
}

label {
    font-size: 15px;
    color: rgb(63, 62, 62);
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
    transition: 0.3s ease all;
}

label:hover {
    transform: scale(1.1);
}

label:active {
    opacity: 0.6;
}

input[type="checkbox"]:checked ~ .content .answer {
    opacity: 1;
}

/* label::after {
    content: "Show Answer";
    font-size: 12px;
    color: rgb(63, 62, 62);
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s ease all;
} */

/* input[type="checkbox"]:checked ~ label::after {
    content: "Hide Answer";
} */
